* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.highlight, p > pre, p > code, li > code {
  background: #fff1e6;
  border-radius: 0.4em;
  box-shadow: inset 0 0 0.3em #777;
  color: black; }

.highlight {
  overflow: auto;
  margin: 1em 0;
  padding: 0.5em 0 0.5em; }
  .highlight .c {
    color: #999988;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k, .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #999988;
    font-style: italic; }
  .highlight .cp {
    color: #999999;
    font-weight: bold; }
  .highlight .c1 {
    color: #999988;
    font-style: italic; }
  .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd; }
    .highlight .gd .x {
      color: #000000;
      background-color: #ffaaaa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd; }
    .highlight .gi .x {
      color: #000000;
      background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaaaaa; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #445588;
    font-weight: bold; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #445588;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne, .highlight .nf {
    color: #990000;
    font-weight: bold; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color: #009999; }
  .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc, .highlight .vg, .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #009999; }
  .highlight .lineno {
    color: #999988;
    border-right: 1px solid #999988;
    padding-right: 0.5em; }

code, pre {
  white-space: pre;
  padding: 0.1em 0.4em;
  display: inline-block;
  margin: 0;
  font: 1em "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-weight: 500; }

p > code, li > code {
  padding: 0.2em 0.4em 0; }

body {
  font: 100% "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: "";
    display: table;
    clear: both; }

p, li {
  line-height: 1.5em; }

@media screen and (min-width: 0) {
  content {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    content:last-child {
      margin-right: 0; } }
@media screen and (min-width: 760px) {
  content {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%; }
    content:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1050px) {
  content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    content:last-child {
      margin-right: 0; } }

@media screen and (min-width: 0) {
  article {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    article:last-child {
      margin-right: 0; } }
@media screen and (min-width: 760px) {
  article {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 12.94733%; }
    article:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1050px) {
  article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 8.5298%; }
    article:last-child {
      margin-right: 0; } }

a {
  text-decoration: none;
  color: #36a369;
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  transition: color 0.1s ease; }
  a:hover {
    color: #25c943; }

article {
  padding: 1em; }
  article header .title {
    color: black;
    font-size: 2em; }
  article header .tags {
    color: #828282; }
