// general

body
  font: 100% $font-stack
  @include outer-container

p, li
  line-height: 1.5em


// sizing

$mobile: new-breakpoint(min-width 0 4)
$tablet: new-breakpoint(min-width 760px 8)
$desktop: new-breakpoint(min-width 1050px 12)

content
  @include media($mobile)
    @include span-columns(4)
  @include media($tablet)
    @include span-columns(8)
  @include media($desktop)
    @include span-columns(12)

article
  @include media($mobile)
    @include span-columns(4)

  @include media($tablet)
    @include span-columns(6)
    @include shift(1)

  @include media($desktop)
    @include span-columns(8)
    @include shift(1)




// typography

a
  text-decoration: none
  color: $link-color
  @include transition(color 0.1s ease)
  &:hover
    color: $link-hover-color


// blog posts

article
  padding: 1em
  header
    .title
      color: $title-color
      font-size: 2em
    .tags
      color: $subtitle-color





