// typography
$font-stack: $helvetica


$primary-color: #962e0c
$secondary-color: #36a369
$secondary-highlight: #25c943
$tertiary-color: #c97c25
$tertiary-highlight: #fcbf7a

// $title-color: #631F09
// $subtitle-color: #87412B
$title-color: black
$subtitle-color: #828282

$code-background: #fff1e6