---
layout: page
title: Blog
---


<section class="blog-posts">
{% for post in site.posts %}
    <article class="blog-preview">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="tags">{{ post.date | date: "%B %d, %Y" }} -
            {% for cat in post.categories %}
              {% if forloop.last %}
                {{ cat }}
              {% else %}
                {{ cat }}, 
              {% endif %}
            {% endfor %}
        </p>
    </article>
{% endfor %}
</section>