<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}James Maniscalco</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="/css/styles_static.css" type="text/css">
        <link rel="stylesheet" media="screen" href="/css/styles.css" type="text/css">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <link rel="canonical" href="{{ page.url }}" />
    </head>

    <body>

        {{ content }}

        {% include site-build-stats.html %}

    </body>


</html>