---
layout: default
---

<article class="blog-post">
    <header>
        <h1 class="title">
            {{ page.title }}
        </h1>
        <p class="tags">{{ page.date | date: "%B %d, %Y" }} - 
            {% for cat in page.categories %}
              {% if forloop.last %}
                {{ cat }}
              {% else %}
                {{ cat }}, 
              {% endif %}
            {% endfor %}
        </p>
    </header>

    <section>
        {{ content }}
    </section>
</article>


<script>
$(function() {
  return $("h2, h3, h4, h5, h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
    }
  });
});
</script>